<form>
  <div>
    <div class="input-group">
      <div>
        <label>Initial investment</label>
        <input type="number" />
      </div>
      <div>
        <label>Anual investment</label>
        <input />
      </div>
    </div>
    <div class="input-group">
      <div>
        <label>Expected return</label>
        <input />
      </div>
      <div>
        <label>Duration</label>
        <input />
      </div>
    </div>
  </div>
  <button (click)="clicked()">Calculate</button>
</form>
