<form>
  <div>
    <div class="input-group">
      <div>
        <label>Initial investment</label>
        <input
          type="number"
          name="initialInvestment"
          [(ngModel)]="initialInvestment"
        />
      </div>
      <div>
        <label>Anual investment</label>
        <input
          type="number"
          name="anualInvestment"
          [(ngModel)]="anualInvestment"
        />
      </div>
    </div>
    <div class="input-group">
      <div>
        <label>Expected return</label>
        <input
          type="number"
          name="expectedReturn"
          [(ngModel)]="expectedReturn"
        />
      </div>
      <div>
        <label>Duration</label>
        <input type="number" name="duration" [(ngModel)]="duration" />
      </div>
    </div>
  </div>
  <button type="button" (click)="onClick()">Calculate</button>
</form>
